* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    overflow: auto;
    background-color: #363946;


    &__nav {
        position: fixed;
        height: 100vh;
        width: 18%;
        border-right: 1.5px solid white ;
    }

    &__content {
        margin-left: 18%;
        width: 82%;
        height: 100%;
        text-align: center;

    }
}

@media screen and (max-width: 768px) {
    .App {
        display: inline-block;
        flex-direction: column;
        min-width: 100vw;
        min-height: 100vh;

        &__nav {
            display:flex;
            justify-content: center;
            width: inherit;
            position: relative;
            height: auto;
        }

        &__content {
            width: inherit;
        }
    }
}



